.header__button {
  background-color: var(--color-purple);

  color: var(--color-white);

  width: 114px;
  height: 39px;

  border-radius: 10px;

  border: 0;
}

.header__button:hover {
  background-color: var(--color-purple-hover);
}
.bannerinfo__button:hover {
  background-color: var(--color-purple-hover);
}

.bannerinfo__button {
  background-color: var(--color-purple);

  color: var(--color-white);

  width: 130px;
  height: 39px;

  border-radius: 10px;

  border: 0;
}
