.container {
  text-align: left;

  padding-right: clamp(1rem, 8vw, 10rem);
  padding-left: clamp(1rem, 8vw, 10rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1024px;

  margin-left: auto;
  margin-right: auto;
}
