.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;

  gap: 10px;

  margin-bottom: 32px;
}

.banner__info {
  color: var(--color-white);

  display: flex;
  flex-direction: column;

  gap: 16px;
}

.banner__info > h3 {
  color: var(--color-purple);

  font-weight: normal;
  font-size: var(--label);
}

.banner__info > h1 {
  font-size: var(--title-2);

  width: 310px;
  height: 90px;
}

.banner__info > p {
  font-size: var(--paragraph);
  font-weight: normal;
}

.banner__img {
  width: clamp(250px, 100%, 320px);
  object-fit: contain;
}
