.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;

  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);

  color: var(--color-white);

  min-height: 190px;
  width: 80vw;

  margin-top: 20px;
  margin-bottom: 20px;
}

.left__side {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 8px;
}

.left__side > div {
  display: flex;
  gap: 16px;
}

.rights {
  font-size: 0.6rem;
}

.rights__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;

    max-width: 768px;
  }
}
