.container {
  color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-top: 32px;
  margin-bottom: 32px;
}

.container > h1 {
  margin-bottom: 16px;
}

.mini__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  text-align: center;

  gap: 16px;
}

.mini__container li {
  border: solid 1px var(--color-white);
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: clamp(280px, 20vw, 300px);

  margin: 0;
  gap: 32px;
}
