.container {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 10px;
}

.container > h1 {
  font-size: var(--title-2);
  color: var(--color-white);
}

.mini__container {
  margin-top: 16px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  gap: 16px;
}

.mini__container > li {
  height: 183px;

  border: 1px solid var(--color-white);
  border-radius: 25px;

  display: flex;

  margin-top: 16px;

  min-width: 300px;
}
